body{
	/*background: url('../addImages/tree_bark.png');*/
	background: url('../addImages/black_linen_v2.png');
	overflow-y: hidden;

}

.posters{
	background: #eee;
}

.music-list{
	background: #eee;
}

.page-header{
	background: #eee;
}